.arenaTable {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.outerCircle {
  position: absolute;
  width: 460px; // circleRadius * 2
  height: 460px; // circleRadius * 2
  border: 2px dashed #d1d5db;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.innerCircle {
  position: absolute;
  width: 230px; // circleRadius * 2
  height: 230px; // circleRadius * 2
  border: 2px solid #d1d5db;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #FAFAFA;
}

.agentsContainer {
  position: relative;
  z-index: 2;
}

.agentWrapper {
  position: absolute;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #6b7280;
  font-size: 14px;
}

.oppositionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
